<div class="card w-50 p-b-5 m-2 post-card">
  <a href="/post/{{id}}">
  <div class="card-body">
    <h5 class="card-header post-header">{{title}}</h5> <p class="text-end creator"> by user: {{creator}}</p>
    <p class="card-text post-content">{{content}}</p>
  </div>
  </a>
</div>